In [43]:
import pandas as pd

In [46]:
#import text files as data frames

path_array = ['data/Births.txt', 'data/bltper_1x1.txt','data/Deaths_1x1.txt','data/E0per.txt','data/Mx_1x1.txt','data/Population.txt']

dfs = {}

for i in path_array:
    file_data = pd.read_csv(i, delim_whitespace=True)
    # Get the file name without the extension
    name = i.split("/")[-1].split(".")[0]
    dfs[name] = pd.DataFrame(file_data)

births_df = dfs['Births']
bltper_df = dfs['bltper_1x1']
deaths_df = dfs['Deaths_1x1']
e0per_df = dfs['E0per']
mx_df = dfs['Mx_1x1']
population_df = dfs['Population']

In [48]:
#import csvs as dataframes

path_array = ['data/h11ar.csv', 'data/p01ar.csv']

dfs = {}

for i in path_array:
    file_data = pd.read_csv(i, delimiter = ",")
    # Get the file name without the extension
    name = i.split("/")[-1].split(".")[0]
    dfs[name] = pd.DataFrame(file_data)

births_df = dfs['h11ar']
bltper_df = dfs['p01ar']

In [49]:
births_df.head()

,Size of Household\nand year,Number (thousands),Median Income Current dollars,Median Income 2022 dollars,Mean Income Current dollars,Mean Income 2022 dollars,Average size of household
0,2022,"131,400","74,580","74,580","106,400","106,400",2.51
1,2021,"131,200","70,780","76,330","102,300","110,300",2.50
2,2020 (41),"129,200","68,010","76,660","97,470","109,900",2.54
3,2019,"128,500","68,700","78,250","98,090","111,700",2.53
4,2018,"128,600","63,180","73,030","90,020","104,100",2.52