In [43]:
import pandas as pd

In [46]:
#import text files as data frames

path_array = ['data/Births.txt', 'data/bltper_1x1.txt','data/Deaths_1x1.txt','data/E0per.txt','data/Mx_1x1.txt','data/Population.txt']

dfs = {}

for i in path_array:
    file_data = pd.read_csv(i, delim_whitespace=True)
    # Get the file name without the extension
    name = i.split("/")[-1].split(".")[0]
    dfs[name] = pd.DataFrame(file_data)

births_df = dfs['Births']
bltper_df = dfs['bltper_1x1']
deaths_df = dfs['Deaths_1x1']
e0per_df = dfs['E0per']
mx_df = dfs['Mx_1x1']
population_df = dfs['Population']

In [48]:
#import csvs as dataframes

path_array = ['data/h11ar.csv', 'data/p01ar.csv']

dfs = {}

for i in path_array:
    file_data = pd.read_csv(i, delimiter = ",")
    # Get the file name without the extension
    name = i.split("/")[-1].split(".")[0]
    dfs[name] = pd.DataFrame(file_data)

income_df = dfs['h11ar']
per_capita_df = dfs['p01ar']

In [50]:
bltper_df.head()

,Year,Population in thousands,Per capita income Current dollars,Per capita income 2022 dollars
0,2022,"330,600","42,980","42,980"
1,2021,"328,700","41,290","44,520"
2,2020 (41),"328,100","38,930","43,890"
3,2019,"325,300","39,160","44,600"
4,2018,"324,400","36,080","41,700"