In [115]:
import pandas as pd

In [116]:
#import text files as data frames

path_array = ['data/Births.txt', 'data/bltper_1x1.txt','data/Deaths_1x1.txt','data/E0per.txt','data/Mx_1x1.txt','data/Population.txt']

dfs = {}

for i in path_array:
    file_data = pd.read_csv(i, delim_whitespace=True)
    # Get the file name without the extension
    name = i.split("/")[-1].split(".")[0]
    dfs[name] = pd.DataFrame(file_data)

births_df = dfs['Births']
bltper_df = dfs['bltper_1x1']
deaths_df = dfs['Deaths_1x1']
e0per_df = dfs['E0per']
mx_df = dfs['Mx_1x1']
population_df = dfs['Population']

In [117]:
#import csvs as dataframes

path_array = ['data/h11ar.csv', 'data/p01ar.csv']

dfs = {}

for i in path_array:
    file_data = pd.read_csv(i, delimiter = ",")
    # Get the file name without the extension
    name = i.split("/")[-1].split(".")[0]
    dfs[name] = pd.DataFrame(file_data)

income_df = dfs['h11ar']
per_capita_df = dfs['p01ar']

In [118]:
income_df.head()

,Size of Household\r\nand year,Number (thousands),Median Income Current dollars,Median Income 2022 dollars,Mean Income Current dollars,Mean Income 2022 dollars,Average size of household
0,2022,"131,400","74,580","74,580","106,400","106,400",2.51
1,2021,"131,200","70,780","76,330","102,300","110,300",2.50
2,2020 (41),"129,200","68,010","76,660","97,470","109,900",2.54
3,2019,"128,500","68,700","78,250","98,090","111,700",2.53
4,2018,"128,600","63,180","73,030","90,020","104,100",2.52

In [119]:
#Removing "(#)" in Size of households\nand year for income and per_capita
income_df['Size of Household\r\nand year'] = income_df['Size of Household\r\nand year'].str.replace(r'\(\d+\)', '', regex=True)
per_capita_df['Year'] = per_capita_df['Year'].str.replace(r'\(\d+\)', '', regex=True)

#Renaming "Size of Household\nand year" to "Year"
income_df.rename(columns={'Size of Household\r\nand year': 'Year'}, inplace=True)
per_capita_df.rename(columns={'Year': 'Year'}, inplace=True)

In [120]:
# Create a dictionary to store your DataFrames
dataframes = {
    'births_df': births_df,
    'bltper_df': bltper_df,
    'deaths_df': deaths_df,
    'e0per_df': e0per_df,
    'mx_df': mx_df,
    'population_df': population_df,
    'income_df': income_df,
    'per_capita_df': per_capita_df
}

In [121]:
# Iterate over the dictionary items
for df_name, df in dataframes.items():
    # Convert 'Year' column to integers (if it's currently stored as strings)
    df['Year'] = pd.to_numeric(df['Year'], errors='coerce')
    dataframes[df_name] = df.loc[(df['Year'] > 1972), :].reset_index(drop=True)

In [107]:
# #convert formats as needed

# #Years to integer
# population_df["Year"] = pd.to_numeric(population_df["Year"], errors='coerce').astype('Int64')
# print(population_df.dtypes["Year"])


# income_df["Year"] = pd.to_numeric(income_df["Year"], errors='coerce').astype('Int64')
# print(income_df.dtypes["Year"])

# per_capita_df["Year"] = pd.to_numeric(per_capita_df["Year"], errors='coerce').astype('Int64')
# print(per_capita_df.dtypes["Year"])

Int64
Int64
Int64

In [125]:
#Limit files to past 50 years of data

# Iterate over the dictionary items
for df_name, df in dataframes.items():
    # Apply your filter to the DataFrame
    dataframes[df_name] = df.loc[(df['Year'] > 1972), :].reset_index(drop=True)
    
deaths_df.head()

   Year Age    Female      Male      Total
0  1933   0  52615.77  68438.11  121053.88
1  1933   1   8917.13  10329.16   19246.29
2  1933   2   4336.92   5140.05    9476.97
3  1933   3   3161.59   3759.88    6921.47
4  1933   4   2493.84   2932.59    5426.43

In [132]:
for df_name, df in dataframes.items():
    total_missing_values = df.isnull().sum()
    print(f"Total missing values in {df_name}: {total_missing_values}\n")
# Check for zero values in each DataFrame
for df_name, df in dataframes.items():
    total_zero_values = (df == 0).sum()
    print(f"Total zero values in {df_name}: {total_zero_values}\n")

Total missing values in births_df: Year      0
Female    0
Male      0
Total     0
dtype: int64

Total missing values in bltper_df: Year    0
Age     0
mx      0
qx      0
ax      0
lx      0
dx      0
Lx      0
Tx      0
ex      0
dtype: int64

Total missing values in deaths_df: Year      0
Age       0
Female    0
Male      0
Total     0
dtype: int64

Total missing values in e0per_df: Year      0
Female    0
Male      0
Total     0
dtype: int64

Total missing values in mx_df: Year      0
Age       0
Female    0
Male      0
Total     0
dtype: int64

Total missing values in population_df: Year      0
Age       0
Female    0
Male      0
Total     0
dtype: int64

Total missing values in income_df: Year                             0
Number (thousands)               0
Median Income Current dollars    0
Median Income 2022 dollars       0
Mean Income Current dollars      0
Mean Income 2022 dollars         0
Average size of household        0
dtype: int64

Total missing values in per_capita_df: Year                                 0
Population in thousands              0
Per capita income Current dollars    0
Per capita income 2022 dollars       0
dtype: int64

Total zero values in births_df: Year      0
Female    0
Male      0
Total     0
dtype: int64

Total zero values in bltper_df: Year    0
Age     0
mx      0
qx      0
ax      0
lx      0
dx      0
Lx      0
Tx      0
ex      0
dtype: int64

Total zero values in deaths_df: Year      0
Age       0
Female    0
Male      0
Total     0
dtype: int64

Total zero values in e0per_df: Year      0
Female    0
Male      0
Total     0
dtype: int64

Total zero values in mx_df: Year      0
Age       0
Female    0
Male      0
Total     0
dtype: int64

Total zero values in population_df: Year      0
Age       0
Female    0
Male      0
Total     0
dtype: int64

Total zero values in income_df: Year                             0
Number (thousands)               0
Median Income Current dollars    0
Median Income 2022 dollars       0
Mean Income Current dollars      0
Mean Income 2022 dollars         0
Average size of household        0
dtype: int64

Total zero values in per_capita_df: Year                                 0
Population in thousands              0
Per capita income Current dollars    0
Per capita income 2022 dollars       0
dtype: int64

In [129]:
births_df = dataframes['births_df']
bltper_df = dataframes['bltper_df']
deaths_df = dataframes['deaths_df']
e0per_df = dataframes['e0per_df']
mx_df = dataframes['mx_df']
population_df = dataframes['population_df'] 
income_df = dataframes['income_df'] 
per_capita_df = dataframes['per_capita_df']

In [131]:
per_capita_df.tail()

,Year,Population in thousands,Per capita income Current dollars,Per capita income 2022 dollars
47,1977,"214,200","5,785","24,000"
48,1976,"212,600","5,271","23,290"
49,1975,"211,100","4,818","22,500"
50,1974,"209,600","4,445","22,490"
51,1973,"207,900","4,141","23,010"